@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Fundo: Mantemos o Preto Profundo (Sofisticação) */
  --background: 0 0% 4%; /* #0a0a0a */
  --foreground: 210 20% 98%; /* Branco Gelo */

  --card: 0 0% 4%;
  --card-foreground: 210 20% 98%;
 
  --popover: 0 0% 4%;
  --popover-foreground: 210 20% 98%;
 
  /* O Novo Primary: PLATINUM */
  --primary: 210 20% 98%; 
  --primary-foreground: 0 0% 9%;
 
  --secondary: 0 0% 15%;
  --secondary-foreground: 210 20% 98%;
 
  --muted: 0 0% 15%;
  --muted-foreground: 215 20% 65%;
 
  --accent: 0 0% 15%;
  --accent-foreground: 210 20% 98%;
 
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
 
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 212 100% 85%; /* Brilho Prateado no foco */
  
  --radius: 0rem; /* Bordas quadradas (mais sério/moderno) */
}

/* O Gradiente "Platinum" */
@utility text-silver-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-[#E2E2E2] via-[#FFFFFF] to-[#9CA3AF];
}

@utility bg-silver-gradient {
  @apply bg-linear-to-r from-[#E2E2E2] via-[#FFFFFF] to-[#9CA3AF];
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}